.IncidentsList {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.incident-div {
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    height: 250px;
    border-width: 1px;
    border-color: #233044;
    display: flex;
    flex-direction: row;
}

.incident-text {
width: 1000px;
}

.incident-link {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.incident-div:hover {
    background-color: rgb(230, 230, 230);
}

#incident-id {
    margin: 0px;
    color: black;
}

#incident-id-title {
    margin: 0px;
    color: blue;
}

#incident-unchecked {
    margin-bottom: 30px;
    color: red;
}
#incident-checked {
    margin-bottom: 25px;
    color: green;
}

#incident-map {
    margin: 0px;
    width: 400px;
    height: 230px;
}

#incident-map .leaflet-container {
    width: 400px;
    height: 230px;
  }

.object-info {
    margin-top: 25px;
}

.client-info {
    margin-top: 25px;
}

.danger-info {
    margin-top: 25px;
}

#danger-info-title {
    color: blue;
}

#object-id-title {
    margin: 0px;
    color: blue;
}

#client-id-title {
    margin: 0px;
    color: blue;
}

#incident-datetime-title {
    margin: 0px;
    color: blue;
}

#incident-zones-title {
    margin: 0px;
    color: blue;
}

#incident-iterations-title {
    margin: 0px;
    color: blue;
}

#incident-category-title {
    margin: 0px;
    color: blue;
}

#incident-coordinates-title {
    margin: 0px;
    color: blue;
}

#object-address-title {
    margin: 0px;
    color: blue;
}

#client-name-title {
    margin: 0px;
    color: blue;
}

#client-address-title {
    margin: 0px;
    color: blue;
}

#client-phone-title {
    margin: 0px;
    color: blue;
}

#client-alternatephone-title {
    margin: 0px;
    color: blue;
}
#incident-danger-title {
    margin: 0px;
    color: blue;
}

.incident-item-info {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.incident-item-info div {
    padding: 10px;
    width: calc((100vw - 300px)/3);
}

.object-item-div {
    margin-right: 10px;
    margin-left: 10px;
}

.incident-item-page {
    display: flex;
    flex-direction: column;
}

.incident-actions-div {
    border-top: 1px solid #233044;
}