.newobjectform {
    margin: 10px;
}

.newobjectform input {
    width: 400px;
    margin-bottom: 10px;
}

#objectstable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
    align-self: center;
  }
  
  #objectstable td, #objectstable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #objectstable tr:nth-child(even){background-color: #f2f2f2;}
  
  #objectstable tr:hover {background-color: #ddd;}
  
  #objectstable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #233044;
    color: #f5f5f5;
  }

  .objectslist {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .btn-objects {
    position: relative;
    width: 300px;
    height: 60px;
    margin: 20px auto;
    padding: 0;
    font-size: 22px;
    text-align: center;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    transition: transform 0.4s ease-in-out;
}

.btn-objects:active {
  top: 1px;
  box-shadow: none;
}

.refresh-icon {
    position: absolute;
    left: 20px;
    width: 24px;
    height: 24px;
    transition: all 0.4s ease-in-out;
}
.btn-objects {
    background: #233044;
    border-bottom: 2px solid #1d2839;
    box-shadow: inset 0 -2px #1d2839;
}

.btn-objects:hover .refresh-icon {
    transform: rotate(360deg) scale(1.2);
}

.updateobjectform {
    margin: 10px;
}

.updateobjectform input {
    width: 400px;
    margin-bottom: 10px;
}

.newobjectcomponent {
    display: flex;
    flex-direction: row;
  }

  .newobjectmap .leaflet-container {
    width: calc(100vw - 800px);
    height: 60vh;
    margin: 20px;
  }